altgraph==0.10.2
bdist-mpkg==0.5.0
cloudpickle==0.1.1
cymem==1.30
Flask==0.10.1
gunicorn==19.4.1
headers-workaround==0.18
itsdangerous==0.24
Jinja2==2.8
macholib==1.5.1
MarkupSafe==0.23
modulegraph==0.10.4
murmurhash==0.24
plac==0.9.1
preshed==0.43
py2app==0.7.3
